.posts, .stock {
  position: relative;
  display: flex;
  min-height: 100vh;
  width: calc(100% - 20rem);
  margin-left: 20rem;
  flex-direction: column;
  .editor, .list {
    width: calc(100% - 2rem);
    padding: 1rem;
    .editor-container {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      position: relative;
      margin-bottom: 6rem;
      h2 {
        margin: 1rem 0;
      }
      input,
      textarea {
        -webkit-appearance: none;
        background: none;
        border: 1px solid $gray;
        border-radius: 5px;
        outline: none;
        padding: 3px 1rem;
        margin-bottom: .5rem;
      }
      textarea {
        resize : none;
        overflow: hidden;
        box-sizing: border-box;
        font-size: 1rem;
      }
      img {
        display: flex;
        width: 100%;
        height: auto;
        margin-bottom: .5rem;
      }
      #title {
        font-size: 2rem;
      }
      #subtitle {
        font-size: 1.5rem;
      }
      #microtitle {
        font-size: 1.2rem;
      }
      #list {
        font-size: 1rem;
      }
      .classBar {
        display: flex;
        width: 100%;
        height: 2rem;
        position: relative;
        margin-bottom: .5rem;
        ul {
          display: flex;
          width: 100%;
          height: 100%;
          justify-content: space-between;
          li {
            display: flex;
            align-items: center;
            color: $gray;
            padding: 0 1rem;
            box-sizing: border-box;
            border-radius: 5px;
            border: 1px solid $gray;
            transition: all .3s;
            cursor: pointer;
            span {
              display: block;
            }
            &:hover, &.active {
              border-color: $tone;
              background: $tone;
              color: $white;
            }
          }
        }
      }
      div, div>span {
        display: flex;
        width: 100%;
        flex-direction: column;
      }
      > div .icon {
        width: 1rem;
        align-items: center;
        position: absolute;
        left: -.5rem;
        margin: .75rem 0;
        color: $red;
        cursor: pointer;
      }
    }
  }
  .list-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 6rem;
    .table {
      width: 100%;
      display: flex;
      flex-direction: column;
      .column {
        width: 100%;
        height: 3rem;
        position: relative;
        align-items: center;
        flex-direction: row;
        display: flex;
        justify-content: space-around;
        &:nth-child(odd) {
          background: rgba($tone, .3);
        }
        &.title {
          background: lighten($dark, 10) !important;
          p {
            color: $white !important;
          }
        }
        div {
          height: calc(100% - 3px * 2);
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: .8rem;
          line-height: 1.4;
          padding: 0 1rem;
          &:nth-child(1), &:nth-child(3) {
            width: 35%;
          }
          &:nth-child(2) {
            width: 10%;
          }
          &:nth-child(4) {
            width: 20%;
            p {
              &:hover {
              cursor: pointer;
              color: $tone;
              }
            }
          }
          p {
            text-align: left;
            width: 100%;
            transition: all .3s;
            text-decoration: none;
            color: $black;
            svg {
              padding-right: 3px;
            }
          }
        }
      }
    }
  }
  .imgUpload {
    display: flex;
    position: fixed;
    width: calc(100% - 20rem);
    height: 100%;
    background: rgba($black, .3);
    justify-content: center;
    align-items: center;
    .upload-container {
      display: flex;
      border-radius: 5px;
      position: relative;
      width: 30rem;
      height: 30rem;
      background: $white;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      input {
        -webkit-appearance: none;
        background: none;
        border: 1px solid $gray;
        border-radius: 5px;
        outline: none;
        padding: 3px 1rem;
        margin-bottom: .5rem;
        font-size: 1.2rem;
      }
      .preview {
        max-height: 20rem;
        margin: .5rem;
      }
      .button {
        height: 2rem;
        width: auto;
        padding: 3px;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $tone;
        color: $white;
        border-radius: 5px;
        padding: 0 5px;
        cursor: pointer;
      }
    }
  }
}

.stock {
  .toolbox {
    position: relative;
  }
}