#nav {
  display: flex;
  height: 100vh;
  width: 20rem;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
  background: $dark;
  .profile {
    border-radius: 5px;
    background: $white;
    width: calc(100% - .5rem * 2);
    height: auto;
    margin: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    .content {
      display: flex;
      padding: .5rem;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
      height: 5rem;
      h1, h2, p {
        align-items: flex-start;
        text-align: left;
        color: $tone;
        &.tag {
          background: $tone;
          color: $white;
          padding: 3px;
          border-radius: 3px;
          font-size: 12pt;
        }
      }
    }
    .photo {
      margin: 0;
      height: 5rem;
      width: 5rem;
      box-sizing: border-box;
      justify-content: center;
      position: relative;
      border-radius: 50%;
      overflow: hidden;
      border: 1px solid $dark;
      background-size: cover !important;
    }
  }
  .menu {
    display: flex;
    flex-direction: column;
    width: calc(100% - .5rem * 2);
    background: $white;
    margin: .5rem;
    margin-top: 0;
    border-radius: 5px;
    position: relative;
    ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      li {
        height: 2rem;
        font-size: 1rem;
        display: flex;
        position: relative;
        a {
          display: flex;
          width: 100%;
          height: 100%;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          color: $dark;
        }
      }
    }
  }
}