.posts {
  position: relative;
  display: flex;
  min-height: 100vh;
  width: calc(100% - 20rem);
  margin-left: 20rem;
  flex-direction: column;
  .editor {
    width: calc(100% - 1rem);
    padding: 1rem;
    .editor-container {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      position: relative;
      margin-bottom: 6rem;
      input,
      textarea {
        -webkit-appearance: none;
        background: none;
        border: 1px solid $gray;
        border-radius: 5px;
        outline: none;
        padding: 3px 1rem;
        margin-bottom: .5rem;
      }
      textarea {
        resize : none;
        overflow: hidden;
        box-sizing: border-box;
      }
      img {
        display: flex;
        width: 100%;
        height: auto;
        margin-bottom: .5rem;
      }
      #title {
        font-size: 2rem;
      }
      #subtitle {
        font-size: 1.5rem;
      }
      #microtitle {
        font-size: 1.2rem;
      }
      .classBar {
        display: flex;
        width: 100%;
        height: 2rem;
        position: relative;
        margin-bottom: .5rem;
        ul {
          display: flex;
          width: 100%;
          height: 100%;
          justify-content: space-between;
          li {
            display: flex;
            align-items: center;
            color: $gray;
            padding: 0 1rem;
            box-sizing: border-box;
            border-radius: 5px;
            border: 1px solid $gray;
            transition: all .3s;
            cursor: pointer;
            span {
              display: block;
            }
            &:hover, &.active {
              border-color: $tone;
              background: $tone;
              color: $white;
            }
          }
        }
      }
      div, div>span {
        display: flex;
        width: 100%;
        flex-direction: column;
      }
      > div .icon {
        align-items: center;
        position: absolute;
        left: -50%;
        margin: .5rem 0;
        color: $red;
        cursor: pointer;
      }
    }
  }
  .imgUpload {
    display: flex;
    position: fixed;
    width: calc(100% - 20rem);
    height: 100%;
    background: rgba($black, .3);
    justify-content: center;
    align-items: center;
    .upload-container {
      display: flex;
      border-radius: 5px;
      position: relative;
      width: 30rem;
      height: 30rem;
      background: $white;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .preview {
        max-height: 20rem;
        margin: .5rem;
      }
      .button {
        height: 2rem;
        width: auto;
        padding: 3px;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $tone;
        color: $white;
        border-radius: 5px;
        padding: 0 5px;
        cursor: pointer;
      }
    }
  }
  .toolbox {
    display: flex;
    width: calc(100% - 20rem);
    height: 3rem;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    right: 0;
    justify-content: center;
    background: rgba($white, .8);
    ul {
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      li {
        width: 7rem;
        cursor: pointer;
        display: flex;
        justify-content: space-around;
        align-items: center;
        transition: all .3s;
        &:hover {
          color: $tone;
        }
        :first-child {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 12pt;
          margin-bottom: .5rem;
        }
        flex-direction: column;
        font-size: 8pt;
      }
    }
  }
}