@import "reset";
@import "font";
@import "color";

@import "menu";
@import "plugin";

@import "login";
@import "home";
@import "editor";

body {
  background: $white;
}

#app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  flex-direction: row;
  position: relative;
  flex-direction: column;
}
