@import "reset";
@import "font";
@import "color";

@import "login";
@import "home";
@import "menu";

body {
  background: $black;
}

#app {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  flex-direction: row;
  position: relative;
  flex-direction: column;
}
